.contenedor-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 86vh;
  gap: 10px; 
}

ion-card {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

ion-card-content {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  width: 300px;
  height: 300px; 
  max-height: 100%;
  max-width: 100%;
}

.columna {    
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  ion-fab {
    margin-top: var(--ion-safe-area-top, 0);
    margin-bottom: var(--ion-safe-area-bottom, 0);
  }

  ion-card.boton-activo {
    border: 4px solid rgb(255, 112, 112);
    box-shadow: 0 0 20px red;
    transition: box-shadow 0.3s ease;
  }