<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="columna">

    <ion-fab slot="fixed" horizontal="start" vertical="top" >
      <ion-fab-button>
        <img [src]="bandera_seleccionada" style="width:50px; height:50px;" />
      </ion-fab-button>
      <ion-fab-list side="right">
        <ion-fab-button (click)="SeleccionarIdioma('es')">
          <img src="../../assets/idiomas/argentina.png"  />
        </ion-fab-button>
        <ion-fab-button (click)="SeleccionarIdioma('en')">
          <img src="../../assets/idiomas/eeuu.png"  />
        </ion-fab-button>
        <ion-fab-button (click)="SeleccionarIdioma('br')">
          <img src="../../assets/idiomas/brasil.png"  />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab slot="fixed" horizontal="end" vertical="top" >
      <ion-fab-button>
        <img [src]="tema_seleccionado" style="width:50px; height:50px;" />
      </ion-fab-button>
      <ion-fab-list side="right">
        <ion-fab-button (click)="SeleccionarTema('colores')">
          <img src="../../assets/temas/colores.png"  />
        </ion-fab-button>
        <ion-fab-button (click)="SeleccionarTema('numeros')">
          <img src="../../assets/temas/numeros.png"  />
        </ion-fab-button>
        <ion-fab-button (click)="SeleccionarTema('animales')">
          <img src="../../assets/temas/animales.png"  />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
  
  <div class="contenedor-botones">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let boton of botones" size="6">
          <ion-card (click)="ejecutarSonido()">
            <img *ngIf="boton.estado !== 'oculta'" [src]="boton.imagen">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>

